/* RESPONSIVE *********************** */
@media only screen and (min-width: 1201px) {
    
    
    .scroll_popup {
        height: max-content;
    }
    .scroll_popup .popup {
        width: 50%;
        align-items: center;
        padding: 2px;
        border-radius: 4pt;
    }
    .scroll_popup .popup .categorie {
        flex-direction: row;
    }
    .scroll_popup .popup .categorie .cat {
        height: auto;
    }
    #Gallery{
        justify-content: center;
    }
    #Skills{
        padding: 15pt;
    }
    .main .overbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 42pt;
        height: 30%;   
    }
    .main .container{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        height: 100%;
    }
    .main .container .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 70%;
    }
    .main .container .button {
            width: 300px;
            height: 100px;
            font-size: 25pt;
            background-color: var(--primary_light);
            cursor: pointer;
    }
    #Gallery .categorie{
        height: 100vh;
        overflow-x: auto;
    }
    #Gallery .item {
        height: 45%;
        cursor: pointer;
    }

    .menubg .logo{
        height: 120px;
        width: 120px;
    }


    
    #Contact {
        height: 100vh;
    }
}
