html, :root{
    background: none;
}
div{
    color: var(--text_on_primary);
}
body, html {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    color: var(--primary);
    height: var(--full_screen);
    background-image: var(--background_image);
}
/*THEMES*/
.themes{
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-end;
    height: 0;
    width: 100%;
    user-select: none;
    z-index: 100;

}
.themes .box_theme{
    padding: 10pt;
    margin: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    cursor: pointer;

}
.themes .box_theme:hover{
    background-color: var(--secondary);
}
.themes #select_theme_selector{
    background-color: var(--primary_light);
    visibility: hidden;
    height: 0;
    width: 90pt;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.themes .select_theme_options{
    visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--primary_light);
}
.themes .conteneur{
    height: 30pt;
    width: 100%;
    background-color: var(--primary);
}
.themes .select_theme_options:hover{
    background-color: var(--secondary_light);
}


.menubg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: var(--secondary_dark);
    opacity: 0;
    transition: opacity 1s;
}
.main {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
}
.bg .super_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.bg .super_container .arrow:hover{
    opacity: 1;
    transition: opacity 0.5s;
}
.bg .container {
    width: 100vw;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--secondary_light);
    margin: 0;
}
.bg .container .titre {
    font-size: 64px;
    color:  var(--text_on_primary);
    text-align: center;

}
.bg .container .sous_titre {
    font-size: 26px;
    color: var(--text_on_primary);
    text-align: center;
    margin-bottom: 25px;
    font-style: italic;
}
.link{
    text-decoration: underline;
    cursor: pointer;
}



/* LISTE */
ul li {
    list-style-type: circle;
    margin-top: 10pt;
}
/* ************ */
/* MENU */
.main .button {
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto;
    font-size: 24px;
    color: var(--text_on_primary);
    transition: background-color 0.5s;
    user-select: none;
    
}
.main .button:hover {
    background-color: var(--primary_dark) !important;
    transition: background-color 0.5s;
}
/* *********** */

.footer {
    display: flex;
    font-weight: lighter;
    align-self: center;
    justify-content: center;
    color:  var(--text_on_secondary);
    text-align: center;
    flex-direction: column;
    height: 15%;
}
.footer a:visited{
    color: inherit;
}




#Skills{
    width: 95%;
    user-select: none;
    /*padding: 15pt;*/
}
.skill_pourcent{
    fill: var(--primary_dark);
    z-index: 1;
}

.skill_pourcent:hover{
    fill: var(--primary_light);
}

.skillHover{
    fill: var(--secondary_light);
}
text{
    fill: var(--text_on_secondary);
}





/*
 GALLERIE
*/

#Gallery {
    height: max-content;
    width: 85%;
}

#Gallery .categorie{
    margin-top: 20pt;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

#Gallery .item {
    margin: 0 10pt;
    height: 25%;
    width: 25%;
    display: flex;
    align-items: center;
    padding-top: 10pt;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--primary);
    
}
#Gallery .item {
    opacity: 0.75;
    transition: opacity .5s;
}
#Gallery .item:hover {
    transition: opacity .5s;
    opacity: 1;
    cursor: pointer;
}
#Gallery .item .img {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
}
#Gallery .item .title {
    font-size: 18pt;
    width: 95%;
    height: 10%;
    margin-top: 5pt;
    padding: 5pt;
    background-color: var(--secondary);
    height: max-content;
}
#Gallery .item .desc {
    background-color: var(--secondary);
    font-size: 11pt;
    width: 95%;
    padding: 0 5pt;
    height: 40%;
    overflow-y: auto;
    
}



/* END GALLERIE */



/*
CONTACT
*/

#Contact .categorie {
    flex-direction: column;
}

#Contact .contenu {
    display: flex;
    flex-direction: column;
}
#Contact .picture_circle{
    margin: 25pt 0;
    background-image: var(--pp_contact);
    background-size: cover;
    background-position: center;
    background-color: var(--secondary_dark);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: var(--primary_dark) solid 10pt;
    user-select: none;
}

@keyframes logoScaleAnim {
    from {
        transform: translateY(0%) scale(.8);
    }
    to {
        transform: translateY(30%) scale(1);
    }
}

#Contact .contenu a:hover {
    transform: scale(1.5);
    transition: .5s;
}
#Contact .contenu a {
    transform: scale(1);
    transition: .5s;
}

.logoLink {
    padding: .5em;
    border-radius: 15%;
    background-color: white;
    transform: scale(0.8);
}
.logoLink:hover {
   animation-name: logoScaleAnim;
   animation-duration: .3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   cursor: pointer;
}



/* END CONTACT*/






/* PANEL */

.scroll_popup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: var(--secondary_light);
    backdrop-filter: blur(12px);
    z-index: 1;
}

.scroll_popup .popup {
    display: none;
    flex-direction: column;
    justify-content: center;

}
.scroll_popup .popup .titre {
    margin-top: 15px;
    width: 100%;
    display: flex;
    font-size: 32px;
    font-weight: normal;
    justify-content: center;
}

.scroll_popup .popup .contenu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: lighter;
}
.scroll_popup .popup .categorie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll_popup .popup .categorie .cat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 22px;
    transition: color 0.5s;
    user-select: none;
}
.scroll_popup .popup .categorie .cat:hover {
    text-decoration: underline;
    color: var(--text_on_primary);
    transition: color 0.5s;
}


/* ******************** */

/* THINKING PANEL */

#think {
    justify-content: center;
    font-size: 20px;
    height: max-content;
}
#think .contenu{
    justify-content: left;
    font-weight: normal;
    min-height: max-content;
    font-weight: 450;
}
#think .li{
    display: list-item;
    list-style-type: circle;
    font-weight: bold;
    font-size: 18pt;
    padding-right: 2.5%;
}
#think td {
    width: max-content;
    vertical-align: top;
    padding-top: 10pt;
}
#think table {
    margin: 20pt 0 20pt 20pt;;
}


/* ***************** */
