@media only screen and (min-width: 1201px) {

    #main .container .left_menu_btn {
        -webkit-mask-image: url("/res/btnleft.svg");
        mask-image: url("/res/btnleft.svg");
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }
    #main .container .right_menu_btn {
        -webkit-mask-image: url("/res/btnright.svg");
        mask-image: url("/res/btnleft.svg");
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }
    #main .container .button {
        background-color: var(--primary_light);
        height: 120px;
    }
}