@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
:root{
    --primary:#0718665f;
    --secondary:#093475;

    --text_on_primary: #e0f7fa;
    --text_on_secondary: #e8eaf6;

    --primary_light: #0718665f;
    --primary_dark: #071866;


    --secondary_light: #4e5b7055;
    --secondary_dark: #093475;

}


html, :root{
    background: none;
}
div{
    color: var(--text_on_primary);
}
body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    color: var(--primary);
}

/*THEMES*/
.themes{
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-end;
    height: 0;
    width: 100%;
    user-select: none;
}
.themes .box_theme{
    padding: 10pt;
    margin: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);

}
.themes .box_theme:hover{
    background-color: var(--secondary);
}
.themes #select_theme_selector{
    background-color: var(--primary_light);
    visibility: hidden;
    height: 25pt;
    width: 90pt;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.themes .select_theme_options{
    visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--primary_light);
}
.themes .conteneur{
    height: 30pt;
    width: 100%;
    background-color: var(--primary);
}
.themes .select_theme_options:hover{
    background-color: var(--secondary_light);
}


#box_info{
    position: fixed;
    background-color: var(--primary_dark);
    backdrop-filter: blur(6px);
    width: 400px;
    height: 150px;
    top: 0;
    left: 0;
    color: var(--text_on_primary);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    overflow: auto;
    padding-left: 1%;
}
#box_info table{
    width: 100%;
    text-align: left;
}
#box_info table td{
    font-weight: lighter;
    width: 50%;
}
.fixed_notif_box
{
    position: fixed;
    width: 100%;
}

.bg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.button, .back{
    user-select: none;
}
.menubg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color: var(--secondary_light);
}
.main {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .container{
    opacity: 0;
    transition: opacity .5s;
}
.bg .super_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.menubg .logo {
    background-image: url("res/logo_nf.png");
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.bg .super_container .arrow:hover{
    opacity: 1;
    transition: opacity 0.5s;
}
.bg .container {
    width: 100vw;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--secondary_light);
    margin: 0;
}
.bg .container .titre {
    font-size: 64px;
    color:  var(--text_on_primary);
    text-align: center;

}
.bg .container .sous_titre {
    font-size: 26px;
    color: var(--text_on_primary);
    text-align: center;
    margin-bottom: 25px;
    font-style: italic;
}
.link{
    text-decoration: underline;
    cursor: pointer;
}
/* LISTE */
ul li {
    list-style-type: circle;
    margin-top: 10pt;
}
/* ************ */
/* MENU */
.main .button {
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto;
    font-size: 24px;
    color: var(--text_on_primary);
    transition: background-color 0.5s;
}
.main .button:hover {
    background-color: var(--secondary_dark) !important;
    transition: background-color 0.5s;
}
/* *********** */

.footer {
    display: flex;
    font-weight: lighter;
    align-self: center;
    justify-content: center;
    color:  var(--text_on_secondary);
    text-align: center;
    flex-direction: column;
}
.footer a:visited{
    color: inherit;
}


#Skills{
    height: auto;
    width: 80%;
}


.skill_pourcent{
    fill: var(--primary_dark);
    z-index: 1;
}

.skillHover:hover{
    fill: var(--primary_light);
    z-index: 10;
}
.skillHover{
    fill: var(--secondary_light);
}
text{
    fill: var(--text_on_secondary);
}
/*
#Skills .contenu{
    font-weight: normal;
    font-size: 20pt;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#Skills .contenu .button:hover{
    color: rgb(185, 201, 219);
    text-decoration: underline;
    transition: background-color 0.5s;
}
#Skills .subtitle{
    width: 60%;
    text-align: center;
}
.skillbox{
    height: 11pt;
    width: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#skillDefault{
    background-color: black;
    height: 11pt;
    width: 45%;
    border: solid 5pt black;
}
.skillbar{
    background-color: white;
    height: 100%;
}
*/





/* PANEL */

.scroll_popup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: var(--secondary_light);
}

.scroll_popup .popup {
    display: none;
    flex-direction: column;
    justify-content: center;

}
.scroll_popup .popup .titre {
    margin-top: 15px;
    display: flex;
    font-size: 32px;
    font-weight: normal;
}

.scroll_popup .popup .contenu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: lighter;
}
.scroll_popup .popup .categorie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll_popup .popup .categorie .cat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 22px;
    transition: color 0.5s;
    user-select: none;
}
.scroll_popup .popup .categorie .cat:hover {
    text-decoration: underline;
    color: var(--text_on_primary);
    transition: color 0.5s;
}
.scroll_popup .popup .back {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 15px;
    align-items: center;
    text-align: center;
    font-size: 22pt;
    color: var(--text_on_primary);
    transition: transform 0.5s;
}
.scroll_popup .popup .back:hover {
    transform: scale(1.5,1.5);
    transition: transform 0.5s;
}


/* ******************** */

/* THINKING PANEL */

#think {
    justify-content: center;
    font-size: 20px;
    height: max-content;
}
#think .contenu{
    justify-content: left;
    font-weight: normal;
    min-height: max-content;
    font-weight: 450;
}
#think .li{
    display: list-item;
    list-style-type: circle;
    font-weight: bold;
    font-size: 18pt;
    padding-right: 2.5vw;
}
#think td {
    width: max-content;
    vertical-align: top;
    padding-top: 10pt;
}
#think table {
    margin: 20pt 0 20pt 20pt;;
}
/* ***************** */


























/* RESPONSIVE *********************** */
@media only screen and (min-width: 1201px) {
    body {
        background-image: url("res/background_low.jpg");
    }
    .scroll_popup {
        height: 200%;
    }
    .scroll_popup .popup {
        width: 50%;
        height: 65%;
        align-items: center;
        padding: 2px;
        border-radius: 4pt;
    }
    .scroll_popup .popup .categorie {
        flex-direction: row;
    }
    .scroll_popup .popup .categorie .cat {
        width: 500px;
        height: auto;
    }
    .scroll_popup .popup .back {
        width: 200px;
        height: 30px;
    }
    #Links{
        justify-content: center;
    }
    #Skills{
        padding: 15pt;
    }
    .main .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            height: 100%;
    }
    .main .container .button {
            width: 300px;
            height: 100px;
            font-size: 25pt;
    }
    .main .bubble {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 120px;
    }
}



























@media only screen and (min-width: 320px) and (max-width: 1200px) and (orientation: portrait) {
    body {
      background-position: 70%;
      background-image: url("res/background_low.jpg");
    }
    .main {
     height: 100%;
    }
    .main .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    .main .container .button{
        width: 100%;
        height: 12.5vh;
        background-color: var(--primary_light);
    }
    .main .container .button:active{
        background-color: var(--primary);
    }
    .arrow {
      height: 20vh;
      width: 20vw;
      margin-bottom: 0;
    }
    .scroll_popup .popup{
        width: 100%;
        align-items: center;
    }
    .scroll_popup .popup .categorie {
        flex-direction: column;
    }
    .scroll_popup .popup .categorie .cat {
        width: 100%;
        height: 10%;
    }
    .scroll_popup .popup .back {
        width: 90vw;
        height: 10vh;
    }
    #think {
        margin-top: 2vh;
        width: 90vw;
    }
    #think .back {
        margin-left: -30px;
        width: 100%;
    }
    #think tr{
        display: inline-block;
    }
    #think .li{
        margin-bottom: 2.5pt;
    }


    #box_info{
        display: none;
    }


    
    #Skills{
        height: auto;
    }
    #Skills .subtitle{
    width: 100%;
    text-align: left;
    }
    #Skills .contenu{
        display: flex;
        font-size: 20pt;
        flex-direction: column;
        justify-content: space-between;
    }
    .skillbox{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 5% 0;
    }
    #skillDefault{
        margin-top: 5%;
        background-color: var(--primary);
        height: 11pt;
        width: 100%;
        border: solid 5pt var(--primary_dark);
    }
    .skillbar{
        background-color: var(--text_on_primary);
        height: 100%;
    }
    
    pre{
        display: none;
    }



}

























@media only screen and (min-width: 320px) and (max-width: 1200px) and (orientation: landscape) {
    body {
      background-position: 70%;
      background-image: url("res/background_low.jpg");
    }
    .main {
     height: 100%;
    }
    .main .container {
        display: flex;
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main .container .button{
        width: 50%;
        height: 18vh;
        font-size: 35pt;
        background-color: var(--primary_light);
    }
    .main .container .button:active{
        background-color: var(--primary)
    }
    .arrow {
      height: 20vh;
      width: 20vw;
      margin-bottom: 0;
    }
    .scroll_popup .popup{
        width: 100vw;
        align-items: center;
    }
    .scroll_popup .popup .categorie {
        flex-direction: column;
    }
    .scroll_popup .popup .categorie .cat {
        width: 100vw;
        height: 10vh;
    }
    .scroll_popup .popup .back {
        width: 90vw;
        height: 10vh;
    }
    #think {
        margin-top: 2vh;
        width: 90vw;
    }
    #think .back {
        margin-left: -30px;
        width: 100%;
    }

    #box_info{
        display: none;
    }

    #Skills{
        width: 90%;
    }
    .skillbox{
        width: 45%;
    }
    #skillDefault{
        width: 50%;
    }



    
    pre{
        display: none;
    }





}



/* ******************************* */
