body {
    background-color: #1c253c;
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}
#earth{
    border-radius: 50%;
    background-color: #135cdb; 
    position: absolute;
    background-image: url("earth.svg");
    background-size: 100%;
}

.button {
    background-color: #3275ef;
    border-radius: 5px;
    color:white;
    height: 35px;
    width: 150px;
    margin: 1%;
    border: white solid .1px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.button:hover{
    background-color: white;
    color: black;
}
.range_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    font-size: 14pt;
}
.sorry{
    color:white;
    display: flex;
    font-size: 250%;
    font-weight: lighter;
    width: 100%;
    height: 100%;
}
#tools{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    float: right; 
    color: white;
    user-select: none;
}
input[type="range"]{
    width: 90%;
}